{{#sprites}}
.{{name}} {
  @include retina('{{{escaped_image}}}', ptrd({{px.total_width}}) ptrd({{px.total_height}}), ptrd({{px.offset_x}}) ptrd({{px.offset_y}}) no-repeat transparent);
}
{{/sprites}}
